<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title ?? site:name }}</title>
    {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>
<body x-data="{
        colors: [
            { bg: 'bg-rose-200', text: 'text-rose-800' },
            { bg: 'bg-blue-200', text: 'text-blue-800' },
            { bg: 'bg-green-200', text: 'text-green-800' },
            { bg: 'bg-yellow-200', text: 'text-yellow-800' },
            { bg: 'bg-purple-200', text: 'text-purple-800' },
        ],
        current: { bg: 'bg-slate-100', text: 'text-slate-800' },
        changeColor() {
            this.current = this.colors[Math.floor(Math.random() * this.colors.length)];
        }
    }" :class="[current.bg, current.text]" class="dark:bg-gray-800 dark:text-gray-400 transition-all duration-1000"
    x-init="setInterval(() => changeColor(), 2000)">
    <main class="mx-auto px-2 lg:min-h-screen flex flex-col items-center justify-center">
        {{ template_content }}
    </main>
    {{ livewire:scripts }}
</body>
</html>